@use "./palette";
@import url("https://fonts.googleapis.com/css2?family=Corben&family=Source+Code+Pro:wght@300;400&display=swap");

$heading-font: "Corben", cursive;
$textarea-font: "Source Code Pro", monospace;

@mixin heading-font($font-size) {
    text-align: center;
    font-family: $heading-font;
    font-weight: 550;
    font-size: $font-size;
    color: palette.$heading-text-colour;
}

@mixin textarea-font {
    font-family: $textarea-font;
    font-weight: 400;
    font-size: medium;
    color: palette.$textarea-text-colour;
}
