@use "../partials/layout";
@use "../partials/palette";
@use "../partials/typography";

@import "../components/heading.scss";

body {
    background-color: palette.$background-colour;
}

.main {
    &-container {
        @include layout.flex-mixin(row, no-wrap, stretch, space-evenly);
    }

    &-english-container {
        text-align: center;
        &-textarea {
            @include typography.textarea-font;
            background-color: palette.$textarea-background-colour;
            padding: 15px;
            resize: none;
            @include layout.textarea-border(
                2px,
                solid,
                palette.$heading-text-colour
            );
        }
    }

    &-morse-container {
        text-align: center;
        &-textarea {
            @include typography.textarea-font;
            background-color: palette.$textarea-background-colour;
            padding: 15px;
            resize: none;
            @include layout.textarea-border(
                2px,
                solid,
                palette.$heading-text-colour
            );
        }
    }
}
